<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ObjC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>iWiBi-orange-blank</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iWiBi-orange-blank</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iWiBi-orange-icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iWiBi-orange-icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iWiBi-orange-icon-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iWiBi-orange-icon-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iWiBi-orange-two</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iWiBi-orange-two</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>weixin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>William2.718</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ObjectiveC2.718</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Information Property List</key>
	<dict>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>weixin</string>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>*jobs8.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>我们将获取你的相机使用权限,但得到的照片仅为此功能使用,不会另作他用, 请放心!</string>
	<key>NSContactsUsageDescription</key>
	<string>获取通讯录权限</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们将获取你的相册使用权限,但得到的照片仅为此功能使用,不会另作他用, 请放心!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们将获取你的相册使用权限,但得到的照片仅为此功能使用,不会另作他用, 请放心!</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to deliver personalized ads to you.</string>
	<key>UIAppFonts</key>
	<array>
		<string>jianzhi.ttf</string>
		<string>kangti.ttf</string>
		<string>miaowu.ttf</string>
		<string>time.ttf</string>
		<string>yaoti.ttf</string>
		<string>zhanbi.ttf</string>
		<string>zhiyi.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
